#Board{
    width:416px;
    height:416px;
    /*border:1px solid black;*/
}

#BoardContainer{
    width: 624px;
    height: 624px;
}

div{
    width:52px;
    height:52px;
    float:left;
}


p{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color:white;
}