#Board{
    width:416px;
    height:416px;
    background-color: black;
}

div{
    width:52px;
    height:52px;
    float:left;
}


p{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color:white;
    font-family:arial, "lucida console", sans-serif;
}